*
**/doc/
**/prototypes/
!.gitattributes
!.gitignore
!.gitkeep
!*/
!*.f90
!SConstruct*
!**/doc-pages/**/*.md
!documentation_*.md
!gravity_grid_parameters.dat
!bssn_parameters.dat
!sphincs_id_parameters.dat
!sphincs_id_particles.dat
!Make_SPHINCS_fm
!BH_parameters.dat
!SPHINCS_fm_input.dat
!COPYING