*
**/doc/
**/prototypes/
!.gitattributes
!.gitignore
!.gitkeep
!*/
!*.f90
!SConstruct
!**/doc-pages/**/*.md
!**/doc-pages/SPHINCS_ID-User_Manual.pdf
!**/doc-media/*
!documentation_*.md
!gravity_grid_parameters.dat
!bssn_parameters.dat
!sphincs_id_parameters.dat
!sphincs_id_particles.dat
!SPHINCS_fm_input.dat
!COPYING
!README.md
**/doc/**/*.f90