SPHINCS_LORENE/splash.*
SPHINCS_LORENE/*.bin
SPHINCS_LORENE/*.log
SPHINCS_LORENE/*.out
SPHINCS_LORENE/.ipynb_checkpoints
SPHINCS_LORENE/**/lorene-bns-*.dat
SPHINCS_LORENE/*constraints.dat
SPHINCS_LORENE/**/eos_*.dat
SPHINCS_LORENE/**/hydro*.dat
SPHINCS_LORENE/**/press*.dat
SPHINCS_LORENE/**/specific*.dat
SPHINCS_LORENE/**/sorted*.dat
SPHINCS_LORENE/**/mpa1*.dat
SPHINCS_LORENE/**/ap3*.dat
SPHINCS_LORENE/**/apr4*.dat
SPHINCS_LORENE/**/wff1*.dat
SPHINCS_LORENE/**/ghost*.dat
SPHINCS_LORENE/**/proto*.out
SPHINCS_LORENE/**/apm*.dat
SPHINCS_LORENE/**/dbg*.dat
SPHINCS_LORENE/**/densities.dat
SPHINCS_LORENE/**/binns*.dat
SPHINCS_LORENE/**/negative*.dat
SPHINCS_LORENE/*analysis.dat
SPHINCS_LORENE/bssn*.dat
SPHINCS_LORENE/sph*.dat
SPHINCS_LORENE/debug*.dat
SPHINCS_LORENE/mass_profile*.dat
SPHINCS_LORENE/shell_radii*.dat
SPHINCS_LORENE/tmp_*.dat
SPHINCS_LORENE/tmp-*.dat
SPHINCS_LORENE/*.gp
SPHINCS_LORENE/*.00*
SPHINCS_LORENE/*.asc
SPHINCS_LORENE/*.d.asc
SPHINCS_LORENE/*.x.asc
SPHINCS_LORENE/*.y.asc
SPHINCS_LORENE/*.z.asc
SPHINCS_LORENE/*.pdf
SPHINCS_LORENE/plot*
SPHINCS_LORENE/scons-clean.d
SPHINCS_LORENE/all-scons-clean.d
SPHINCS_LORENE/show*
SPHINCS_LORENE/cauchy*.dat
SPHINCS_LORENE/rho*.dat
SPHINCS_LORENE/l*-*.*
SPHINCS_LORENE/*.nfs*
SPHINCS_LORENE/*.ipynb
SPHINCS_LORENE/**/*.bin
SPHINCS_LORENE/**/*.mod
SPHINCS_LORENE/**/*.smod
SPHINCS_LORENE/src/**/*.o
SPHINCS_LORENE/src/**/*.optrpt
SPHINCS_LORENE/**/*.x
SPHINCS_LORENE/**/id-plots/
SPHINCS_LORENE/**/gnuplot-scripts/
SPHINCS_LORENE/archive/
SPHINCS_LORENE/lorene-id-files/
SPHINCS_LORENE/fort*
SPHINCS_LORENE/**/.sconsign.dblite
SPHINCS_LORENE/'*'
SPHINCS_LORENE/*~
SPHINCS_BSSN/*.x
SPHINCS_BSSN/*.dat
SPHINCS_BSSN/*.00*
SPHINCS_BSSN/*.mod
SPHINCS_BSSN/*.smod
SPHINCS_BSSN/*.o
SPHINCS_BSSN/*.optrpt
SPHINCS_BSSN/*.asc
SPHINCS_BSSN/'*'
SPHINCS_BSSN/*.sconsign.dblite
SPHINCS_fix_metric/*.o
SPHINCS_fix_metric/*.optrpt
SPHINCS_fix_metric/*.mod
SPHINCS_fix_metric/*.smod
SPHINCS_fix_metric/.sconsign.dblite
*~
**/*.diff
