*.bin
*.log
lorene-bns-*.dat
*constraints.dat
negative*.dat
*analysis.dat
bssn*.dat
*.gp
cauchy*.dat
rho*.dat
l*-*.*
*.nfs*
*.ipynb
*.mod
*.smod
src/ *.o
src/ *.optrpt
*.x
id-plots/
archive/
lorene-id-files/
gnu-setup_lorene_id.x